# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [19]:
import pandas as pd
import numpy as np

# Seu código aqui
# Esta linha cria uma lista chamada 'dados' com uma série de valores numéricos.
# Estes valores representam anomalias térmicas (desvios em relação à média) em um determinado contexto.
dados = [-0.08, -0.27, 0.12, -0.03, 0.26, 0.40, 1.02]

# Aqui, uma Série Pandas é criada a partir dos dados na lista 'dados'.
# 'pd.Series' é a função usada para criar uma Série Pandas.
# A função recebe a lista 'dados' como argumento para o parâmetro 'data'.
# Como nenhum índice personalizado é especificado, a Série será indexada com números inteiros começando de zero.
# A Série criada é armazenada na variável 'AnomaliaTermicaSemIndex'.
AnomaliaTermicaSemIndex = pd.Series(data=dados)

#### 2) Coloque os anos nos índices conforme a tabela.

In [4]:

# Esta linha cria uma lista chamada 'indice' com valores inteiros representando anos específicos.
indice=[1900, 1920, 1940, 1960, 1980, 2000, 2020]
# Esta linha cria uma lista chamada 'dados' com uma série de valores numéricos.
dados = [-0.08, -0.27, 0.12, -0.03, 0.26, 0.40, 1.02]
AnomaliaTermicaSemIndex = pd.Series(data=dados, index=indice)
AnomaliaTermicaSemIndex = pd.Series

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [5]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

# seu código aqui

# Dicionário com os dados de temperaturas
dic_temperaturas = {1900: -0.08, 1920: -0.27, 1940: 0.12, 1960: -0.03, 1980: 0.26, 2000: 0.40, 2020: 1.02 }

# Cria uma série do Pandas a partir do dicionário
serie_temperaturas = pd.Series(dic_temperaturas)

# Exibe a série para verificar
print(serie_temperaturas)

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe.
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [13]:
arr = np.random.normal(100, 10, (20,3))

# seu código aqui

df = pd.DataFrame(arr, columns=['Coluna1', 'Coluna2', 'Coluna3'])
print(df)

       Coluna1     Coluna2     Coluna3
0   112.138855  115.057529   94.933253
1   100.921204   96.026978   93.420424
2    83.212729   98.703417   92.060651
3   107.105850  104.121880   99.366290
4    98.185290  107.665598   82.523480
5   109.258335  105.272175   92.554942
6    92.584831  111.049393  101.474161
7   114.877834   91.689072  104.111559
8    95.274178  106.243021   89.521645
9   115.784246   94.485872   89.057919
10  103.459576   95.404263   88.622932
11  107.974639  104.685237  105.915794
12  109.607341   94.331919  121.193691
13   99.543296   88.497798  110.428619
14  104.743550   96.680187  106.107398
15  112.637082  111.760589   99.007539
16  100.896572   83.121525   98.614056
17  110.988536   90.622739   90.657271
18  107.991619  105.196480  111.265178
19  102.068680   93.497093  100.207287

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [15]:
#seu código aqui

# Nomeando os índices das linhas com inteiros de 1 a 20 e alterando para 1 a 21 para o index
df = pd.DataFrame(arr, columns=['x1', 'x2', 'x3'], index=range(1, 21))
print(df)

            x1          x2          x3
1   112.138855  115.057529   94.933253
2   100.921204   96.026978   93.420424
3    83.212729   98.703417   92.060651
4   107.105850  104.121880   99.366290
5    98.185290  107.665598   82.523480
6   109.258335  105.272175   92.554942
7    92.584831  111.049393  101.474161
8   114.877834   91.689072  104.111559
9    95.274178  106.243021   89.521645
10  115.784246   94.485872   89.057919
11  103.459576   95.404263   88.622932
12  107.974639  104.685237  105.915794
13  109.607341   94.331919  121.193691
14   99.543296   88.497798  110.428619
15  104.743550   96.680187  106.107398
16  112.637082  111.760589   99.007539
17  100.896572   83.121525   98.614056
18  110.988536   90.622739   90.657271
19  107.991619  105.196480  111.265178
20  102.068680   93.497093  100.207287

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [16]:
# seu código aqui
# Calcular a média das três colunas existentes e criar uma nova coluna 'media'
# A nova coluna 'media' é a média de 'x1', 'x2' e 'x3'
df['media'] = df[['x1', 'x2', 'x3']].mean(axis=1)

# Exibir o DataFrame com a nova coluna
print(df)

            x1          x2          x3       media
1   112.138855  115.057529   94.933253  107.376545
2   100.921204   96.026978   93.420424   96.789535
3    83.212729   98.703417   92.060651   91.325599
4   107.105850  104.121880   99.366290  103.531340
5    98.185290  107.665598   82.523480   96.124790
6   109.258335  105.272175   92.554942  102.361818
7    92.584831  111.049393  101.474161  101.702795
8   114.877834   91.689072  104.111559  103.559488
9    95.274178  106.243021   89.521645   97.012948
10  115.784246   94.485872   89.057919   99.776012
11  103.459576   95.404263   88.622932   95.828924
12  107.974639  104.685237  105.915794  106.191890
13  109.607341   94.331919  121.193691  108.377650
14   99.543296   88.497798  110.428619   99.489905
15  104.743550   96.680187  106.107398  102.510378
16  112.637082  111.760589   99.007539  107.801737
17  100.896572   83.121525   98.614056   94.210718
18  110.988536   90.622739   90.657271   97.422849
19  107.991619  105.196480  111.265178  108.151092
20  102.068680   93.497093  100.207287   98.591020

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [18]:
# seu código aqui
# A função np.log() calcula o logaritmo natural da coluna 'media'
df['log_med'] = np.log(df['media'])
print(df)

            x1          x2          x3       media   log_med
1   112.138855  115.057529   94.933253  107.376545  4.676342
2   100.921204   96.026978   93.420424   96.789535  4.572539
3    83.212729   98.703417   92.060651   91.325599  4.514431
4   107.105850  104.121880   99.366290  103.531340  4.639874
5    98.185290  107.665598   82.523480   96.124790  4.565647
6   109.258335  105.272175   92.554942  102.361818  4.628514
7    92.584831  111.049393  101.474161  101.702795  4.622055
8   114.877834   91.689072  104.111559  103.559488  4.640146
9    95.274178  106.243021   89.521645   97.012948  4.574844
10  115.784246   94.485872   89.057919   99.776012  4.602928
11  103.459576   95.404263   88.622932   95.828924  4.562565
12  107.974639  104.685237  105.915794  106.191890  4.665248
13  109.607341   94.331919  121.193691  108.377650  4.685622
14   99.543296   88.497798  110.428619   99.489905  4.600056
15  104.743550   96.680187  106.107398  102.510378  4.629964
16  112.637082  111.760589   99.007539  107.801737  4.680294
17  100.896572   83.121525   98.614056   94.210718  4.545534
18  110.988536   90.622739   90.657271   97.422849  4.579061
19  107.991619  105.196480  111.265178  108.151092  4.683529
20  102.068680   93.497093  100.207287   98.591020  4.590980