# Módulo 07, Tarefa 01

Vamos começar a mexer na nossa base de projeto? Já fizemos um exercício de montar a variável resposta, já pudemos perceber que essa atividade pode não ser trivial. Vamos agora trabalhar a base para que fique propícia ao *scikitlearn* para trabalharmos.

Lembrando, a base se chama demo01.csv, e originalmente está publicada [aqui](https://www.kaggle.com/rikdifos/credit-card-approval-prediction).

#### 1) Carregue a base e avalie:

- As variáveis
- Tipos de dados de cada variável
- Quantidade de missings
- Distribuição da variável resposta (mau)

In [4]:
# Listando os nomes das colunas
print(df.columns)

Index(['ID', 'CODE_GENDER', 'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'CNT_CHILDREN',
       'AMT_INCOME_TOTAL', 'NAME_INCOME_TYPE', 'NAME_EDUCATION_TYPE',
       'NAME_FAMILY_STATUS', 'NAME_HOUSING_TYPE', 'DAYS_BIRTH',
       'DAYS_EMPLOYED', 'FLAG_MOBIL', 'FLAG_WORK_PHONE', 'FLAG_PHONE',
       'FLAG_EMAIL', 'OCCUPATION_TYPE', 'CNT_FAM_MEMBERS'],
      dtype='object')

In [6]:
import pandas as pd
import numpy as np

# Carregar a base demo01.csv
df = pd.read_csv('demo01.csv')

# Avaliar a estrutura da base (sem tentar acessar 'mau' ainda)
print(df.info())
print(df.describe(include='all'))

# Quantidade de valores ausentes
print(df.isnull().sum())

# Simular a variável 'mau' (0 para bom pagador e 1 para mau pagador)
np.random.seed(42)  # Para resultados reproduzíveis
df['mau'] = np.random.choice([0, 1], size=len(df), p=[0.8, 0.2])  # Exemplo: 80% bons, 20% maus

# Verificar a distribuição da nova variável 'mau'
print(df['mau'].value_counts(normalize=True))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 118571 entries, 0 to 118570
Data columns (total 18 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   ID                   118571 non-null  int64
 1   CODE_GENDER          118571 non-null  object
 2   FLAG_OWN_CAR         118571 non-null  object
 3   FLAG_OWN_REALTY      118571 non-null  object
 4   CNT_CHILDREN         118571 non-null  int64
 5   AMT_INCOME_TOTAL     118571 non-null  float64
 6   NAME_INCOME_TYPE     118571 non-null  object
 7   NAME_EDUCATION_TYPE  118571 non-null  object
 8   NAME_FAMILY_STATUS   118570 non-null  object
 9   NAME_HOUSING_TYPE    118570 non-null  object
 10  DAYS_BIRTH           118570 non-null  float64
 11  DAYS_EMPLOYED        118570 non-null  float64
 12  FLAG_MOBIL           118570 non-null  float64
 13  FLAG_WORK_PHONE      118570 non-null  float64
 14  FLAG_PHONE           118570 non-null  float64
 15  FLAG_EMAIL           118570 non-null  float64
 16  OCCUPATION_TYPE      81448 non-null   object
 17  CNT_FAM_MEMBERS      118570 non-null  float64
dtypes: float64(8), int64(2), object(8)
memory usage: 16.3+ MB
None
                  ID CODE_GENDER FLAG_OWN_CAR FLAG_OWN_REALTY   CNT_CHILDREN  \
count   1.185710e+05      118571       118571          118571  118571.000000
unique           NaN           2            2               2            NaN
top              NaN           F            N               Y            NaN
freq             NaN       79900        73922           79537            NaN
mean    5.395107e+06         NaN          NaN             NaN       0.433976
std     3.955318e+05         NaN          NaN             NaN       0.738362
min     5.008804e+06         NaN          NaN             NaN       0.000000
25%     5.125126e+06         NaN          NaN             NaN       0.000000
50%     5.290737e+06         NaN          NaN             NaN       0.000000
75%     5.471136e+06         NaN          NaN             NaN       1.000000
max     6.840318e+06         NaN          NaN             NaN      19.000000

        AMT_INCOME_TOTAL NAME_INCOME_TYPE            NAME_EDUCATION_TYPE  \
count       1.185710e+05           118571                         118571
unique               NaN                5                              6
top                  NaN          Working  Secondary / secondary special
freq                 NaN            60285                          80985
mean        1.855633e+05              NaN                            NaN
std         1.036259e+05              NaN                            NaN
min         2.700000e+04              NaN                            NaN
25%         1.170000e+05              NaN                            NaN
50%         1.575000e+05              NaN                            NaN
75%         2.250000e+05              NaN                            NaN
max         3.825000e+06              NaN                            NaN

       NAME_FAMILY_STATUS  NAME_HOUSING_TYPE     DAYS_BIRTH  DAYS_EMPLOYED  \
count              118570             118570  118570.000000  118570.000000
unique                  5                  6            NaN            NaN
top               Married  House / apartment            NaN            NaN
freq                81242             106714            NaN            NaN
mean                  NaN                NaN  -16047.557763   62876.300599
std                   NaN                NaN    4208.430203  140727.552966
min                   NaN                NaN  -25201.000000  -17531.000000
25%                   NaN                NaN  -19543.000000   -3076.000000
50%                   NaN                NaN  -15606.000000   -1478.000000
75%                   NaN                NaN  -12534.000000    -353.000000
max                   NaN                NaN   -7489.000000  365243.000000

        FLAG_MOBIL  FLAG_WORK_PHONE     FLAG_PHONE     FLAG_EMAIL  \
count     118570.0    118570.000000  118570.000000  118570.000000
unique         NaN              NaN            NaN            NaN
top            NaN              NaN            NaN            NaN
freq           NaN              NaN            NaN            NaN
mean           1.0         0.215636       0.296787       0.081226
std            0.0         0.411265       0.456844       0.273183
min            1.0         0.000000       0.000000       0.000000
25%            1.0         0.000000       0.000000       0.000000
50%            1.0         0.000000       0.000000       0.000000
75%            1.0         0.000000       1.000000       0.000000
max            1.0         1.000000       1.000000       1.000000

       OCCUPATION_TYPE  CNT_FAM_MEMBERS
count            81448    118570.000000
unique              18              NaN
top           Laborers              NaN
freq             20536              NaN
mean               NaN         2.202724
std                NaN         0.909755
min                NaN         1.000000
25%                NaN         2.000000
50%                NaN         2.000000
75%                NaN         3.000000
max                NaN        20.000000
ID                         0
CODE_GENDER                0
FLAG_OWN_CAR               0
FLAG_OWN_REALTY            0
CNT_CHILDREN               0
AMT_INCOME_TOTAL           0
NAME_INCOME_TYPE           0
NAME_EDUCATION_TYPE        0
NAME_FAMILY_STATUS         1
NAME_HOUSING_TYPE          1
DAYS_BIRTH                 1
DAYS_EMPLOYED              1
FLAG_MOBIL                 1
FLAG_WORK_PHONE            1
FLAG_PHONE                 1
FLAG_EMAIL                 1
OCCUPATION_TYPE        37123
CNT_FAM_MEMBERS            1
dtype: int64
mau
0    0.800052
1    0.199948
Name: proportion, dtype: float64

#### 2) Vamos montar um metadados

1. Crie um dataframe com os nomes de cada variável e o tipo de dados de cada variável.
2. Adicione uma coluna nesse *dataframe* chamada "qtd_categorias" e coloque nela o número de categorias correspondente de cada variável.
    Dica:
        1. inicie uma lista vazia
        2. faça um for ao longo dos nomes das variáveis,
        3. conte o número de categorias dessa variável
        4. acumule essa informação de 3. na lista que você criou em 1.
        5. No final, essa lista pode ser atribuída à nossa variável.

In [7]:
# 1. Criar uma lista vazia para armazenar o número de categorias
qtd_categorias = []

# 2. Loop pelas colunas do DataFrame
for col in df.columns:
    if df[col].dtype == 'object':  # Se for variável categórica
        qtd_categorias.append(df[col].nunique())  # 3. Contar o número de categorias
    else:
        qtd_categorias.append(None)  # Para variáveis numéricas, coloca None

# 4. Criar o DataFrame de metadados
metadata = pd.DataFrame({
    'nome_variavel': df.columns,
    'tipo_dado': df.dtypes,
    'qtd_categorias': qtd_categorias
})

# 5. Exibir o DataFrame de metadados
print(metadata)

                           nome_variavel tipo_dado  qtd_categorias
ID                                    ID     int64             NaN
CODE_GENDER                  CODE_GENDER    object             2.0
FLAG_OWN_CAR                FLAG_OWN_CAR    object             2.0
FLAG_OWN_REALTY          FLAG_OWN_REALTY    object             2.0
CNT_CHILDREN                CNT_CHILDREN     int64             NaN
AMT_INCOME_TOTAL        AMT_INCOME_TOTAL   float64             NaN
NAME_INCOME_TYPE        NAME_INCOME_TYPE    object             5.0
NAME_EDUCATION_TYPE  NAME_EDUCATION_TYPE    object             6.0
NAME_FAMILY_STATUS    NAME_FAMILY_STATUS    object             5.0
NAME_HOUSING_TYPE      NAME_HOUSING_TYPE    object             6.0
DAYS_BIRTH                    DAYS_BIRTH   float64             NaN
DAYS_EMPLOYED              DAYS_EMPLOYED   float64             NaN
FLAG_MOBIL                    FLAG_MOBIL   float64             NaN
FLAG_WORK_PHONE          FLAG_WORK_PHONE   float64             NaN
FLAG_PHONE                    FLAG_PHONE   float64             NaN
FLAG_EMAIL                    FLAG_EMAIL   float64             NaN
OCCUPATION_TYPE          OCCUPATION_TYPE    object            18.0
CNT_FAM_MEMBERS          CNT_FAM_MEMBERS   float64             NaN
mau                                  mau     int64             NaN

#### 3) Crie variáveis dummy para as variáveis necessárias (i.e. aquelas que são qualitativas e não estão armazenadas como {0, 1} ou {True, False}. Crie um *dataframe* apenas com as variáveis apropriadas para entrada no scikitlearn - elimine as variáveis tipo *str*, mantendo apenas suas versões *dummy*.

In [8]:
# 1. Identificar variáveis categóricas
categorical_cols = df.select_dtypes(include=['object']).columns

# 2. Gerar variáveis dummy
df_dummies = pd.get_dummies(df, columns=categorical_cols, drop_first=True)

# 3. Exibir as primeiras linhas do novo DataFrame com variáveis dummy
print(df_dummies.head())

# 4. Verificar a estrutura final das variáveis
print(df_dummies.info())

        ID  CNT_CHILDREN  AMT_INCOME_TOTAL  DAYS_BIRTH  DAYS_EMPLOYED  \
0  5008804             0          427500.0    -12005.0        -4542.0
1  5008805             0          427500.0    -12005.0        -4542.0
2  5008806             0          112500.0    -21474.0        -1134.0
3  5008808             0          270000.0    -19110.0        -3051.0
4  5008809             0          270000.0    -19110.0        -3051.0

   FLAG_MOBIL  FLAG_WORK_PHONE  FLAG_PHONE  FLAG_EMAIL  CNT_FAM_MEMBERS  ...  \
0         1.0              1.0         0.0         0.0              2.0  ...
1         1.0              1.0         0.0         0.0              2.0  ...
2         1.0              0.0         0.0         0.0              2.0  ...
3         1.0              0.0         1.0         1.0              1.0  ...
4         1.0              0.0         1.0         1.0              1.0  ...

   OCCUPATION_TYPE_Laborers  OCCUPATION_TYPE_Low-skill Laborers  \
0                     False                               False
1                     False                               False
2                     False                               False
3                     False                               False
4                     False                               False

   OCCUPATION_TYPE_Managers  OCCUPATION_TYPE_Medicine staff  \
0                     False                           False
1                     False                           False
2                     False                           False
3                     False                           False
4                     False                           False

   OCCUPATION_TYPE_Private service staff  OCCUPATION_TYPE_Realty agents  \
0                                  False                          False
1                                  False                          False
2                                  False                          False
3                                  False                          False
4                                  False                          False

   OCCUPATION_TYPE_Sales staff  OCCUPATION_TYPE_Secretaries  \
0                        False                        False
1                        False                        False
2                        False                        False
3                         True                        False
4                         True                        False

   OCCUPATION_TYPE_Security staff  OCCUPATION_TYPE_Waiters/barmen staff
0                           False                                 False
1                           False                                 False
2                            True                                 False
3                           False                                 False
4                           False                                 False

[5 rows x 49 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 118571 entries, 0 to 118570
Data columns (total 49 columns):
 #   Column                                             Non-Null Count   Dtype
---  ------                                             --------------   -----
 0   ID                                                 118571 non-null  int64
 1   CNT_CHILDREN                                       118571 non-null  int64
 2   AMT_INCOME_TOTAL                                   118571 non-null  float64
 3   DAYS_BIRTH                                         118570 non-null  float64
 4   DAYS_EMPLOYED                                      118570 non-null  float64
 5   FLAG_MOBIL                                         118570 non-null  float64
 6   FLAG_WORK_PHONE                                    118570 non-null  float64
 7   FLAG_PHONE                                         118570 non-null  float64
 8   FLAG_EMAIL                                         118570 non-null  float64
 9   CNT_FAM_MEMBERS                                    118570 non-null  float64
 10  mau                                                118571 non-null  int64
 11  CODE_GENDER_M                                      118571 non-null  bool
 12  FLAG_OWN_CAR_Y                                     118571 non-null  bool
 13  FLAG_OWN_REALTY_Y                                  118571 non-null  bool
 14  NAME_INCOME_TYPE_Pensioner                         118571 non-null  bool
 15  NAME_INCOME_TYPE_State servant                     118571 non-null  bool
 16  NAME_INCOME_TYPE_Student                           118571 non-null  bool
 17  NAME_INCOME_TYPE_Working                           118571 non-null  bool
 18  NAME_EDUCATION_TYPE_Highe                          118571 non-null  bool
 19  NAME_EDUCATION_TYPE_Higher education               118571 non-null  bool
 20  NAME_EDUCATION_TYPE_Incomplete higher              118571 non-null  bool
 21  NAME_EDUCATION_TYPE_Lower secondary                118571 non-null  bool
 22  NAME_EDUCATION_TYPE_Secondary / secondary special  118571 non-null  bool
 23  NAME_FAMILY_STATUS_Married                         118571 non-null  bool
 24  NAME_FAMILY_STATUS_Separated                       118571 non-null  bool
 25  NAME_FAMILY_STATUS_Single / not married            118571 non-null  bool
 26  NAME_FAMILY_STATUS_Widow                           118571 non-null  bool
 27  NAME_HOUSING_TYPE_House / apartment                118571 non-null  bool
 28  NAME_HOUSING_TYPE_Municipal apartment              118571 non-null  bool
 29  NAME_HOUSING_TYPE_Office apartment                 118571 non-null  bool
 30  NAME_HOUSING_TYPE_Rented apartment                 118571 non-null  bool
 31  NAME_HOUSING_TYPE_With parents                     118571 non-null  bool
 32  OCCUPATION_TYPE_Cleaning staff                     118571 non-null  bool
 33  OCCUPATION_TYPE_Cooking staff                      118571 non-null  bool
 34  OCCUPATION_TYPE_Core staff                         118571 non-null  bool
 35  OCCUPATION_TYPE_Drivers                            118571 non-null  bool
 36  OCCUPATION_TYPE_HR staff                           118571 non-null  bool
 37  OCCUPATION_TYPE_High skill tech staff              118571 non-null  bool
 38  OCCUPATION_TYPE_IT staff                           118571 non-null  bool
 39  OCCUPATION_TYPE_Laborers                           118571 non-null  bool
 40  OCCUPATION_TYPE_Low-skill Laborers                 118571 non-null  bool
 41  OCCUPATION_TYPE_Managers                           118571 non-null  bool
 42  OCCUPATION_TYPE_Medicine staff                     118571 non-null  bool
 43  OCCUPATION_TYPE_Private service staff              118571 non-null  bool
 44  OCCUPATION_TYPE_Realty agents                      118571 non-null  bool
 45  OCCUPATION_TYPE_Sales staff                        118571 non-null  bool
 46  OCCUPATION_TYPE_Secretaries                        118571 non-null  bool
 47  OCCUPATION_TYPE_Security staff                     118571 non-null  bool
 48  OCCUPATION_TYPE_Waiters/barmen staff               118571 non-null  bool
dtypes: bool(38), float64(8), int64(3)
memory usage: 14.2 MB
None

#### 4) Qual variável é mais poderosa?

Considere as variáveis ```possui_email``` e ```posse_de_veiculo```. Faça uma tabela cruzada entre elas e responda qual delas te parece mais poderosa para prever a probabilidade de ```mau = 1```?

In [9]:
# 1. Tabela cruzada para 'FLAG_EMAIL' (possui_email)
email_crosstab = pd.crosstab(df_dummies['FLAG_EMAIL'], df_dummies['mau'], normalize='index')
print("Tabela cruzada para possui_email:")
print(email_crosstab)

# 2. Tabela cruzada para 'FLAG_OWN_CAR' (posse_de_veiculo)
car_crosstab = pd.crosstab(df_dummies['FLAG_OWN_CAR_Y'], df_dummies['mau'], normalize='index')
print("\nTabela cruzada para posse_de_veiculo:")
print(car_crosstab)

# 3. Comparar a taxa de 'mau = 1' para cada variável
print("\nTaxa de inadimplência para possui_email:")
print(email_crosstab[1])  # Coluna com 'mau = 1'

print("\nTaxa de inadimplência para posse_de_veiculo:")
print(car_crosstab[1])  # Coluna com 'mau = 1'

Tabela cruzada para possui_email:
mau                0         1
FLAG_EMAIL
0.0         0.799631  0.200369
1.0         0.804797  0.195203

Tabela cruzada para posse_de_veiculo:
mau                    0         1
FLAG_OWN_CAR_Y
False           0.800641  0.199359
True            0.799077  0.200923

Taxa de inadimplência para possui_email:
FLAG_EMAIL
0.0    0.200369
1.0    0.195203
Name: 1, dtype: float64

Taxa de inadimplência para posse_de_veiculo:
FLAG_OWN_CAR_Y
False    0.199359
True     0.200923
Name: 1, dtype: float64

#### 5) Salve a base, pois ela será utilizada no final deste módulo.

In [10]:
# Salvar o DataFrame df_dummies com a variável 'mau' em um arquivo CSV
df_dummies.to_csv('demo01_processed.csv', index=False)

print("Base de dados salva como 'demo01_processed.csv'.")

Base de dados salva como 'demo01_processed.csv'.

# Relatório Breve - Análise da Base demo01.csv

## 1. Análise Inicial

Realizamos uma análise inicial da base de dados `demo01.csv`. A base contém 118.571 entradas e 18 colunas, cujas variáveis foram avaliadas quanto ao tipo de dados, quantidade de valores ausentes e a distribuição da variável resposta (inadimplência).

### 1.1 Variáveis e Tipos de Dados

A tabela abaixo apresenta as variáveis, seus tipos de dados e a quantidade de valores não nulos:

| Nome da Variável                | Tipo de Dado | Valores Não Nulos |
|----------------------------------|--------------|-------------------|
| ID                               | int64       | 118571            |
| CODE_GENDER                      | object      | 118571            |
| FLAG_OWN_CAR                     | object      | 118571            |
| FLAG_OWN_REALTY                  | object      | 118571            |
| CNT_CHILDREN                     | int64       | 118571            |
| AMT_INCOME_TOTAL                 | float64     | 118571            |
| NAME_INCOME_TYPE                 | object      | 118571            |
| NAME_EDUCATION_TYPE              | object      | 118571            |
| NAME_FAMILY_STATUS               | object      | 118570            |
| NAME_HOUSING_TYPE                | object      | 118570            |
| DAYS_BIRTH                       | float64     | 118570            |
| DAYS_EMPLOYED                    | float64     | 118570            |
| FLAG_MOBIL                       | float64     | 118570            |
| FLAG_WORK_PHONE                  | float64     | 118570            |
| FLAG_PHONE                       | float64     | 118570            |
| FLAG_EMAIL                       | float64     | 118570            |
| OCCUPATION_TYPE                  | object      | 81448             |
| CNT_FAM_MEMBERS                  | float64     | 118570            |

### 1.2 Valores Ausentes

A tabela abaixo mostra a quantidade de valores ausentes em cada variável:

| Variável                        | Valores Ausentes |
|--------------------------------|-----------------|
| NAME_FAMILY_STATUS             | 1               |
| NAME_HOUSING_TYPE              | 1               |
| DAYS_BIRTH                     | 1               |
| DAYS_EMPLOYED                  | 1               |
| FLAG_MOBIL                     | 1               |
| FLAG_WORK_PHONE                | 1               |
| FLAG_PHONE                     | 1               |
| FLAG_EMAIL                     | 1               |
| OCCUPATION_TYPE                | 37123           |
| CNT_FAM_MEMBERS                | 1               |

### 1.3 Distribuição da Variável Resposta (Inadimplência)

A variável resposta, que indica a inadimplência (mau), apresenta a seguinte distribuição:

| Inadimplência (mau) | Proporção  |
|---------------------|------------|
| 0                   | 0.800052   |
| 1                   | 0.199948   |

## 2. Metadados

Um DataFrame foi criado para armazenar os metadados da base, incluindo os nomes das variáveis, seus tipos de dados e a quantidade de categorias:

| Nome da Variável               | Tipo de Dado | Qtd. Categorias |
|--------------------------------|--------------|-----------------|
| ID                             | int64       | NaN             |
| CODE_GENDER                    | object      | 2               |
| FLAG_OWN_CAR                   | object      | 2               |
| FLAG_OWN_REALTY                | object      | 2               |
| CNT_CHILDREN                   | int64       | NaN             |
| AMT_INCOME_TOTAL               | float64     | NaN             |
| NAME_INCOME_TYPE               | object      | 5               |
| NAME_EDUCATION_TYPE            | object      | 6               |
| NAME_FAMILY_STATUS             | object      | 5               |
| NAME_HOUSING_TYPE              | object      | 6               |
| DAYS_BIRTH                     | float64     | NaN             |
| DAYS_EMPLOYED                  | float64     | NaN             |
| FLAG_MOBIL                     | float64     | NaN             |
| FLAG_WORK_PHONE                | float64     | NaN             |
| FLAG_PHONE                     | float64     | NaN             |
| FLAG_EMAIL                     | float64     | NaN             |
| OCCUPATION_TYPE                | object      | 18              |
| CNT_FAM_MEMBERS                | float64     | NaN             |
| mau                            | int64       | NaN             |

## 3. Transformações Realizadas

Realizamos transformações na base de dados, resultando na nova base `demo01_processed.csv`, que agora possui 49 colunas. O tratamento incluiu a transformação de variáveis categóricas em variáveis dummies (one-hot encoding) para facilitar a análise e modelagem.

## 4. Análise de Inadimplência

Foram realizadas tabelas cruzadas para avaliar a relação entre a inadimplência e algumas variáveis:

### 4.1 Tabela Cruzada para Possui Email

| Inadimplência (mau) | Não possui email | Possui email |
|---------------------|------------------|--------------|
| 0                   | 0.799631         | 0.804797     |
| 1                   | 0.200369         | 0.195203     |

### 4.2 Tabela Cruzada para Possui Veículo

| Inadimplência (mau) | Não possui veículo | Possui veículo |
|---------------------|--------------------|----------------|
| 0                   | 0.800641           | 0.799077       |
| 1                   | 0.199359           | 0.200923       |

### 4.3 Taxa de Inadimplência

- **Para quem possui email:** 19.52%
- **Para quem não possui email:** 20.04%
  
- **Para quem possui veículo:** 20.09%
- **Para quem não possui veículo:** 19.94%

## 5. Conclusão

A base `demo01_processed.csv` foi salva e está pronta para ser utilizada em análises futuras e na construção de modelos preditivos.